@charset "utf-8";
@import "_reset";
$basefont:40px;
$blue: #0075c1;
$black:#434242;
@function r($n) {
    @return $n / $basefont * 1rem
}

#YY {
    .web {
        width: 100vw;
        height: 100vh;
        background: url(../img/bg.png) no-repeat;
        background-size: cover;
        overflow: auto;
        .box {
            margin: r(170px) auto;
            width: r(590px);
            height: r(839px);
            background-color: rgba(#fff, .3);
            box-shadow: 0px 4px 13px 5px rgba(0, 0, 0, 0.3);
            .date {
                height: r(140px);
                line-height: r(140px);
                font-size: r(30px);
                padding-left: r(30px);
                select {
                    outline-style: none;
                    border: none;
                    color: $blue;
                }
            }
            .session {
                display: flex;
                flex-direction: column;
                // align-content: center;
                // justify-content: space-between;
                text-align: center;
                div {
                    display: flex;
                    justify-content: space-around;
                    padding: r(50px) 0;
                    color: $black;
                    font-size: r(26px);
                    &:nth-child(1) {
                        color: $blue;
                    }
                }
            }
        }
    }
}